body{
    padding-bottom: 70px;
    padding-top: 70px;
    background-color: #FFE271; /* EEEEEE */
}
.wrapper{
    width: 40%;
    height: auto;
    margin: auto;
}
.message{
    font-family: 'Segoe UI';
    background-color: blanchedalmond;
}
.mymess{
    background-color: #b6d6f2;
}
#message_text{
    height: 100px;
}
.user{
    color: blue;
    font-size: 16px;
    font-weight: 600;
}
.text{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.datetime{
    font-size: 11px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px;
}
.small-avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.form{
    width: 350px;
    margin: auto;
}
.unauth{
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: #E32636;
}
.mynavbar{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px 1px;
    border-color: gray;
    background-color: #d8d8d8; /* #d8d8d8*/
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.mynavbar-bot{
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0 1px;
}
.footer{
    text-align: center;
    padding-top: 10px;
}
.cur_user{
    font-weight: 700;
    font-size: 16px;
}
#form-messages{
    padding-top: 20px;
    width: 350px;
    margin: auto;
}
.profile{
    width: 40%;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: white;
    position: relative;
}
.profile-term{
    font-size: larger;
}
.login{
    padding: 15px;
}
.name{
    padding: 20px;
}
#prof_edit{
    position: absolute;
    right: 10px;
    top: 10px;
}